@tailwind base;
@tailwind components;
@tailwind utilities;

/* Taken from getting started guide at: https://leafletjs.com/examples/quick-start/ */
@import 'https://unpkg.com/leaflet@1.9.3/dist/leaflet.css';
@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap';

:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  line-height: 1.6;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #5d3d2e; /* Màu của thanh cuộn */
  border-radius: 5px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #5d3d2e; /* Màu của thanh cuộn khi hover */
}
